.wrap h3 {
	font-size: 14px;
	font-weight: bold;
	padding: 7px;
	margin: 0 0 10px;
	cursor: pointer;
	background-color: #eaf3fa;
}

.wrap .postbox {
	padding: 2px;
	margin-bottom: 5px;
	margin-top: 11px;
	border-width: 1px;
	border-style: solid;
	border-color: #ebebeb;
	border-right-color: #ccc;
	border-bottom-color: #ccc;
}

.wrap .closed .inside {
	display: none;
}

.wrap .closed h3 {
	margin: 0;
	cursor: pointer;
}

